body {

background-color: #c8c8c8;
color: #1e1e1e;
}

h1
{
    font-family: "FETesto-Regular";
}

.top {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}
.top-top{
    position: relative;
}
.top-down{
    position: relative;
    margin-top: -10%;
}

.menu{
    position: relative;
    padding-top: 10%;
    background-color: aquamarine;
}



  @font-face {
    font-family: "FETesto-Regular";
    src: url("fonts/FETesto-Regular.ttf")
    format("truetype");
    font-style: normal;
    font-weight: normal;
  }